<% if (currentUser) { %>
 <h1>Chat</h1>
    <form id="chatForm">
        <div id="chat"></div>
        <input id="chat-user-email" type="hidden" value="<%= currentUser.email %>">

        <input id="chat-user-name" type="hidden" value="<%= `${currentUser.name.first} ${currentUser.name.last}` %>">
            <div class="ti">
                <textarea id="chat-input" type="text" placeholder="type chat"></textarea>
                <input type="image" src="images/send.png" name="submit">
            </div>
 </form>
<% } %>